 .mt-inputPicker{
     margin-top: 25px;
 }

 .text-title{
    margin-top: 25px;
    color: rgb(37, 37, 112);
     
}

.form-label {
    font-size: 18px;
    color: rgb(255, 0, 0);
    font-weight: semi-bold;
    margin-bottom: 10px;
  }