<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a routerLink="" routerLinkActive="active">
        Datos del Cuotapartista
      </a>
    </li>
    <li class="navbar-item">
      <a routerLink="settlements-and-requests" routerLinkActive="active">
        Liquidaciones y solicitudes
      </a>
    </li>
    <li class="navbar-item">
      <a routerLink="share-values" routerLinkActive="active">
        Valores cuotapartes
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>