@import '../node_modules/bootstrap/scss/bootstrap';
html, body { height: 100%; padding: 0 5px; font-family: 'Roboto', sans-serif;
    /* Padding a los lados */ }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
